.search-results-container{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

@media screen and (min-width: 600px){
    .search-results-container > a{
        font-weight: 600;
    }
}


@media screen and (min-width: 1000px){
    .search-results-container{
        height: 100px;
    }
    .search-results-container > h3{
        font-size: 25px;
    }
    .search-results-container > a{
        font-size: 22px;
    }
    section{
        font-size: 20px;
    }
    .search-results-container > h4{
        font-size: 20px;
    }
}
