.search-results-container{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

@media screen and (min-width: 600px){
    .search-results-container > a{
        font-weight: 600;
    }
}


