.SongList > h1{
    text-align: center;
}
.song-list > a{
    color: lightblue;
}
.SongList{
    text-align: center;
    margin: 20px;
    padding: 10px;
}

@media screen and (min-width: 600px){
    .song-list{
        margin-bottom: 40px;
    }
}