.form-itself{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
form > div {
    padding: 20px;
}
.radio-button{
    margin: 5px;
}
form > input{
    margin: 5px;
    padding-left: 5px;
}
