.form-itself{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
form > div {
    padding: 20px;
}
.radio-button{
    margin: 5px;
}
form > input{
    margin: 5px;
    padding-left: 5px;
}
@media screen and (min-width: 600px){
    form > input{
        height: 20px;
        width: 150px;
    }
    form > button{
        height: 30px;
        width: 100px;
    }
}
@media screen and (min-width: 1000px){
    .form-itself > form > input{
        height: 25px;
        width: 200px;
        font-size: 20px;
    }
    .form-itself > form > label{
        font-size: 20px;
    }
    .form-itself > form > button{
        font-size: 18px;
    }
    .form-itself > h3{
        font-size: 25px;
    }
    .form-itself > form > div > label{
        font-size: 20px;
    }
    .form-itself > .radio-button{
        font-size: 20px;
    }
}

