.AddHours-Form{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.AddHours-Form > input{
    padding-left: 5px;
    border-radius: 5px;
    margin: 5px;
}
.dropmenu{
    width: 200px;
    margin: 5px;
}

@media screen and (min-width: 600px){
    .AddHours-Form > input{
        height: 20px;
        width: 150px;
    }
    .dropmenu{
        height: 30px;
    }
    .AddHours-Form > button{
        height: 30px;
        width: 100px;
    }
}

@media screen and (min-width: 1000px){
    .AddHours-Form > input{
        height: 25px;
        width: 200px;
        font-size: 20px;
    }
    .AddHours-Form > label{
        font-size: 25px;
    }
    .AddHours-Form > button{
        font-size: 18px;
    }
    .dropmenu{
        height: 40px;
        font-size: 18px
    }
}