.Stats{
    text-align: center;
    margin: 20px;
}
.linksToExplore > a {
    color: lightblue;
    font-weight: 600;
    font-size: 17px;
}

.Stats > div > p{
    font-weight: 600;
}

#username{
    color: lightblue;
    font-style: oblique;
}

.linksToExplore{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px){
    .linksToExplore{
        text-align: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1000px){
    .Stats > h2{
        font-size: 40px;
    }
    div > h2{
        font-size: 30px;
    }
    div > p{
        font-size: 20px;
    }
    .linksToExplore > a{
        font-size: 25px;
    }
}