.AddNewSongForm{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
#disclaimer{
    font-weight: 600;
}
.AddNewSongForm > input{
    border-radius: 5px;
    padding-left: 5px;
    margin: 5px;
}
.AddNewSongForm > button{
    height: 35px;
    width: 75px;
}
