.Title-Header{
    text-align: center;
    border: 2px solid white;
    margin: 20px;
    margin-top: 30px;
}
#minuet{
    font-style: oblique;
    color: lightblue
}
.Title-Header > h3{
    margin-top: 0;
}