.Login-Form{
    text-align: center;
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
}
.Demo{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

button{
    margin: 20px;
    height: 25px;
    width: 50px;
}
.Login-Form > input{
    padding-left: px;
    border-radius: 5px;
}