.Login-Form{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.Demo{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

button{
    margin: 20px;
    height: 25px;
    width: 50px;
}
.Login-Form > input{
    padding-left: 5px;
    border-radius: 5px;
    margin: 5px;
}
@media screen and (min-width: 600px){
    .Login-Form{
        padding: 0;
    }
}
@media screen and (min-width: 1000px){
    .Login-Form > input{
        height: 25px;
        width: 200px;
        font-size: 20px;
    }
    .Login-Form > label{
        font-size: 25px;
    }
    button{
        font-size: 18px;
    }
}