.AddSong-Form{
    text-align: center;
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
}
.AddSong-Form > input{
    padding-left: 5px;
    border-radius: 5px;
}

a{
    color: lightblue;
}