.App{
    padding: 20px;
    background-image: url('./music_pics/music\(tint\)6.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: 1px solid white;
    background-origin: center;
    background-attachment: fixed;
    height: 100%;
}
.footer{
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}